<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <link rel="stylesheet" href="/static/mysite/style.css">
          {% comment %} For adding Google API {% endcomment %}
          <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places" defer></script>

    <title>Bus Reservation System</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container">
            <!-- Logo and My Bus text -->
            <div class="d-flex align-items-center">
                <div class="logo mr-2"><img src="/static/mysite/logo.png" alt="Bus logo"></div>
                <a class="navbar-brand" href="#" style="color: white;">MY Bus</a>
            </div>
    
            <!-- Toggle button for mobile -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="{% url 'home' %}" style="color: white;">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{% url 'findbus' %}" style="color: white;">Find Bus</a>
                    <a class="nav-item nav-link" href="{% url 'seebookings' %}" style="color: white;">See Bookings</a>
                    {% if request.user.is_active %}
                    <a class="nav-item nav-link " href="{% url 'signout' %}" style="color: white;">Sign out</a>
                    {% else %}
                    <a class="nav-item nav-link " href="{% url 'signup' %}" style="color: white;">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
{% block content %}
{% endblock %}

{% if is_homepage %}
<footer style="margin-top: 10vh;">
{% else %}
<footer>
{% endif %}
    <div class="questions">
        Questions? Call 000-800-919-1694
    </div>
    <div class="footer">
        <div class="footer-item"> 
            <a href="faq">Investor Relations</a>
            <a href="faq">Jobs</a>
            <a href="faq">Ways to Watch</a>
            <a href="faq">Terms of Use</a>
        </div>

        <div class="footer-item"> 
            <a href="faq">Help Centre</a>
            <a href="faq">Account</a>
            <a href="faq">Speed Test</a>
            <a href="faq">Legal Notices</a>
        </div>
        <div class="footer-item">
            <a href="faq">Media Centre</a>
            <a href="faq">Privacy</a>
            <a href="faq">Cookie Preferences</a> 
            <a href="faq">Corporate</a>
        </div>

        <div class="footer-item">
            <a href="faq">Contact Us</a>
            <a href="faq">Speed Test</a> 
            <a href="faq">Legal Notices</a> 
            <a href="faq">Only on MyBus</a>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>